<link rel= "stylesheet" href= "css/style.css" type= "text/css">
<link href= "https://fonts.googleapis.com/css?family=Berkshire+Swash" rel= "stylesheet">
<link href= "https://fonts.googleapis.com/css?family=Nunito+Sans" rel= "stylesheet">

<html lang= "en">
<head>
  
    <meta charset= "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <title>Horoscope!</title>
    <!-- bootstrap CSS -->
    <link rel= "stylesheet" href= "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel= "stylesheet" href= "/resources/demos/style.css">
    <script src= "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src= "https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js">
    <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type= 'text/javascript' src= '//platform-api.sharethis.com/js/sharethis.js#property=5c79e99b4c495400114fe3be&product='inline-share-buttons' async='async'></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" href= "css/style.css" type= "text/css">
    <script src= "js/script.js"></script> 
    
  <script>
  $(function() {
    var $date = $("#datepicker").datepicker({ 
      dateFormat: 'm/d/yy',
      changeMonth: true,
      changeYear: true,
      yearRange: 'c-100:c-0' //allow the user to choose their birth year
    });
  });
  </script>
</head>

<body class="index">
    <img src= "images/wallpaper/crystal.gif" id= "crystal_1">
    <img src= "images/wallpaper/crystal.gif" id= "crystal_2">
      <div class= "container-fluid introduction">
        <!--<div class = "row">-->
        <!--  <div class="col-md-6">-->
            <h1>Horoscope!</h1>
            <p><br>Our names are Jennifer Liu, Eva Noertoft, and Wei Zheng! Our project is about horoscopes, no… we are not superstitious! Well, maybe a little bit :)<br>
            <br>Horoscopes are a forecast of a person’s future based on the relative positions of the stars and the planet at the time of that person’s birth.
            Twelve months in a year, twelve signs in a horoscope. <br> 
            <br> Here, you will explore your personality, characteristics, and karmas. Begin exploring! 
            It’s simple to use, just enter or select your birthday and MAGIC will happen. BUT, it’s actually
            code…   MAGICAL code! <br>
            <br>We used <a href= "https://github.com/sameerkumar18/aztro" target= "_blank">Sameer Kumar’s API.</a>  Feel free to check out the API if you are interested! 
            You can contact us by email: <u> jenniferl4209@hstat.org,</u> <u>evan2304@hstat.org </u>, and <u>weiz9762@hstat.org</u>.<br>
            <br>Email us your inquiries, feedback, and suggestions. You can also contribute to our project 
            <a href= "https://github.com/JENNIFERL4209/horoscope-project" target= "_blank"> here</a> by submitting a pull request! <br><br>
            <b>Start your horoscope journey below!</b></p>

          <!--target="_blank" leads the link to a new tab-->
      <!--    </div>-->
      <!--</div>-->
  </div>
  
  <div class= "container-fluid" id= "user_form">
    <!--<div class = "row">-->
          <!--<div class="col-md-6">-->
    <form method= "post" action= "/result">
      <p id= "birthdate">Enter Your Birth Date: <input type= "text" name= "date" id= "datepicker" placeholder= "example: 12/30"required></p>
      <button type= "submit" class= "submit_btn"> <span>Get my horoscope!</span> </button>
    </form>
    </div>
          <!--</div>-->
  </div>
  
</body>
</html>