#wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -10
}

h1 {
    text-align: center;
    color:pink;
    font-family: 'Lato',sans-serif;
    font-weight:500;
}

div {
    font-family: Optima, sans-serif;
    font-weight:300;
    /*font-size-adjust: */
}

.jumbotron:hover {
    background: rgba(0,0,0,0.15);
}

#match {
    font-weight: bold;
    /*background: #def3ca;*/
    /*padding: 3px;*/
    /*float: left;*/
    display: none;
}

